In [23]:
# Kết nối Google Drive với Colab
from google.colab import drive
drive.mount('/content/drive')

# Nhập thư viện pandas để xử lý dữ liệu
import pandas as pd

# Đường dẫn tệp
file_path = '/content/drive/MyDrive/Cleaned data/Cleaned_Vietnam_Price.xlsx'

# Đọc danh sách các sheet trong tệp
excel_file = pd.ExcelFile(file_path)
sheets = excel_file.sheet_names  # Danh sách tên sheet
print(f"Danh sách các sheets: {sheets}")

# Đọc dữ liệu từ từng sheet
sheet1 = pd.read_excel(file_path, sheet_name='Sheet1')
sheet2 = pd.read_excel(file_path, sheet_name='Sheet2')

# Hiển thị vài dòng đầu của từng sheet

print("\nSheet: Sheet1")
print(sheet1.head())

print("\nSheet: Sheet2")
print(sheet2.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Danh sách các sheets: ['Sheet1', 'Sheet2']

Sheet: Sheet1
                             Name Symbol      RIC Start Date  Hist.  Category  \
0  JST.CMLBK.FOR FRT. OF VIET NAM    VCB   VCB.HM 2009-06-30   2009  Equities
1                  VIX SECURITIES    VIX   VIX.HM 2009-12-29   2009  Equities
2                  120 MECHANICAL    CK8  CK8.HNO 2023-04-07   2023  Equities
3               1369 CONSTRUCTION    C69   C69.HN 2017-04-21   2017  Equities
4          22 JOINT STOCK COMPANY    C22  C22.HNO 2018-05-24   2018  Equities

      Exchange   Market         Currency                      Sector  \
0  Ho Chi Minh  Vietnam  Vietnamese Dong                       Banks
1  Ho Chi Minh  Vietnam  Vietnamese Dong                           -
2    Hanoi OTC  Vietnam  Vietnamese Dong                Unclassified
3        Hanoi  Vietnam  Vietnamese Dong  Construction and Materials
4    Hanoi OTC  Vietnam  Vietnamese Dong              Food Producers

                                           Full Name Activity
0  Joint Stock Commercial Bank for Foreign Trade ...   Active
1                                     VIX Securities   Active
2                                     120 Mechanical   Active
3                                  1369 Construction   Active
4                             22 Joint Stock Company   Active

Sheet: Sheet2
                             Name    Code 2019-03-04 00:00:00  \
0  JST.CMLBK.FOR FRT. OF VIET NAM  VCB(P)            41671.44
1                  VIX SECURITIES  VIX(P)             1950.78
2                  120 MECHANICAL  CK8(P)                 NaN
3               1369 CONSTRUCTION  C69(P)             4449.84
4          22 JOINT STOCK COMPANY  C22(P)               31000

   2019-03-05 00:00:00  2019-03-06 00:00:00  2019-03-07 00:00:00  \
0             41804.14             41605.09             41870.50
1              1950.78              2018.05              2062.90
2                  NaN                  NaN                  NaN
3              4449.84              4368.93              4449.84
4             31000.00             31000.00             31000.00

   2019-03-08 00:00:00  2019-03-11 00:00:00  2019-03-12 00:00:00  \
0             41671.44             41538.73             42998.55
1              2040.47              1973.20              1950.78
2                  NaN                  NaN                  NaN
3              4368.93              4449.84              4530.74
4             31000.00             31000.00             31000.00

   2019-03-13 00:00:00  ...  2025-02-19 00:00:00  2025-02-20 00:00:00  \
0             43263.96  ...              91700.0              91700.0
1              1973.20  ...              11200.0              11250.0
2                  NaN  ...               3600.0               3600.0
3              4449.84  ...               6500.0               6500.0
4             31000.00  ...              20100.0              20100.0

   2025-02-21 00:00:00  2025-02-24 00:00:00  2025-02-25 00:00:00  \
0              93100.0              93500.0              92600.0
1              11300.0              11500.0              11450.0
2               3600.0               3600.0               3600.0
3               6600.0               6600.0               6400.0
4              20100.0              20100.0              20100.0

   2025-02-26 00:00:00  2025-02-27 00:00:00  2025-02-28 00:00:00  \
0              92300.0              94000.0              93300.0
1              11450.0              11500.0              11450.0
2               3600.0               3600.0               3600.0
3               6300.0               6500.0               6500.0
4              18900.0              19100.0              19300.0

   2025-03-03 00:00:00  2025-03-04 00:00:00
0              93300.0              93000.0
1              11800.0              11500.0
2               3600.0               3600.0
3               6500.0               6400.0
4              19300.0              19300.0

[5 rows x 1569 columns]

In [24]:
sheet1

,Name,Symbol,RIC,Start Date,Hist.,Category,Exchange,Market,Currency,Sector,Full Name,Activity
0,JST.CMLBK.FOR FRT. OF VIET NAM,VCB,VCB.HM,2009-06-30,2009,Equities,Ho Chi Minh,Vietnam,Vietnamese Dong,Banks,Joint Stock Commercial Bank for Foreign Trade ...,Active
1,VIX SECURITIES,VIX,VIX.HM,2009-12-29,2009,Equities,Ho Chi Minh,Vietnam,Vietnamese Dong,-,VIX Securities,Active
2,120 MECHANICAL,CK8,CK8.HNO,2023-04-07,2023,Equities,Hanoi OTC,Vietnam,Vietnamese Dong,Unclassified,120 Mechanical,Active
3,1369 CONSTRUCTION,C69,C69.HN,2017-04-21,2017,Equities,Hanoi,Vietnam,Vietnamese Dong,Construction and Materials,1369 Construction,Active
4,22 JOINT STOCK COMPANY,C22,C22.HNO,2018-05-24,2018,Equities,Hanoi OTC,Vietnam,Vietnamese Dong,Food Producers,22 Joint Stock Company,Active
...,...,...,...,...,...,...,...,...,...,...,...,...
1929,VIETNAM RUBBER GROUP,92862K,-,2018-03-21,2018,Equities,Hanoi OTC,Vietnam,Vietnamese Dong,Food Producers,Vietnam Rubber Group,Dead
1930,VVMI QUANTRIEU CEMENT,2649PA,-,2016-11-01,2016,Equities,Hanoi OTC,Vietnam,Vietnamese Dong,Construction and Materials,Vvmi Quantrieu Cement,Dead
1931,DONG NAI TOURIST,68842U,-,2009-09-21,2009,Equities,Hanoi OTC,Vietnam,Vietnamese Dong,Travel and Leisure,Dong Nai Tourist,Dead
1932,GIALAI ELECTRICITY,95123U,-,2019-09-19,2019,Equities,Ho Chi Minh,Vietnam,Vietnamese Dong,Electricity,Gialai Electricity,Dead
1933,HANOI SOUTHERN,NHN,NHN.HNO^G17,2014-09-22,2014,Equities,Hanoi OTC,Vietnam,Vietnamese Dong,Real Estate Investment and Services,Hanoi Southern,Dead

In [25]:
# Lọc các dòng có lỗi (#ERROR hoặc $$ER)
error_rows = sheet2[sheet2.apply(lambda x: x.astype(str).str.contains(r'#ERROR|\$\$ER', regex=True, na=False)).any(axis=1)]

# Hiển thị số dòng lỗi
print(f"Số dòng bị lỗi: {len(error_rows)}")

# Hiển thị các dòng lỗi
display(error_rows)

Số dòng bị lỗi: 17

,Name,Code,2019-03-04 00:00:00,2019-03-05 00:00:00,2019-03-06 00:00:00,2019-03-07 00:00:00,2019-03-08 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,...,2025-02-19 00:00:00,2025-02-20 00:00:00,2025-02-21 00:00:00,2025-02-24 00:00:00,2025-02-25 00:00:00,2025-02-26 00:00:00,2025-02-27 00:00:00,2025-02-28 00:00:00,2025-03-03 00:00:00,2025-03-04 00:00:00
1605,#ERROR,NaN,"$$ER: E100,INVALID CODE OR EXPRESSION ENTERED",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1755,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1916,#ERROR,NaN,"$$ER: E100,INVALID CODE OR EXPRESSION ENTERED",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1918,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1920,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1921,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1922,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1924,#ERROR,NaN,"$$ER: E100,INVALID CODE OR EXPRESSION ENTERED",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1925,#ERROR,NaN,"$$ER: E100,INVALID CODE OR EXPRESSION ENTERED",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1927,#ERROR,NaN,"$$ER: E100,INVALID CODE OR EXPRESSION ENTERED",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1929,#ERROR,NaN,"$$ER: 2361,NO DATA AVAILABLE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1930,#ERROR,NaN,"$$ER: E100,INVALID CODE OR EXPRESSION ENTERED",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
sheet2 = sheet2[~sheet2.apply(lambda x: x.astype(str).str.contains('#ERROR|\$\$ER', regex=True, na=False)).any(axis=1)]
sheet2

,Name,Code,2019-03-04 00:00:00,2019-03-05 00:00:00,2019-03-06 00:00:00,2019-03-07 00:00:00,2019-03-08 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,...,2025-02-19 00:00:00,2025-02-20 00:00:00,2025-02-21 00:00:00,2025-02-24 00:00:00,2025-02-25 00:00:00,2025-02-26 00:00:00,2025-02-27 00:00:00,2025-02-28 00:00:00,2025-03-03 00:00:00,2025-03-04 00:00:00
0,JST.CMLBK.FOR FRT. OF VIET NAM,VCB(P),41671.44,41804.14,41605.09,41870.50,41671.44,41538.73,42998.55,43263.96,...,91700.0,91700.0,93100.0,93500.0,92600.0,92300.0,94000.0,93300.0,93300.0,93000.0
1,VIX SECURITIES,VIX(P),1950.78,1950.78,2018.05,2062.90,2040.47,1973.20,1950.78,1973.20,...,11200.0,11250.0,11300.0,11500.0,11450.0,11450.0,11500.0,11450.0,11800.0,11500.0
2,120 MECHANICAL,CK8(P),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0
3,1369 CONSTRUCTION,C69(P),4449.84,4449.84,4368.93,4449.84,4368.93,4449.84,4530.74,4449.84,...,6500.0,6500.0,6600.0,6600.0,6400.0,6300.0,6500.0,6500.0,6500.0,6400.0
4,22 JOINT STOCK COMPANY,C22(P),31000,31000.00,31000.00,31000.00,31000.00,31000.00,31000.00,31000.00,...,20100.0,20100.0,20100.0,20100.0,20100.0,18900.0,19100.0,19300.0,19300.0,19300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,GIA DINH WATER SUPPLY DEAD - DELIST.07/12/18,69556R(P),16200,16200.00,16200.00,16200.00,16200.00,16200.00,16200.00,16200.00,...,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0
1923,ORIENT SECURITIE DEAD - DELIST.10/04/19,69755L(P),3100,3100.00,3200.00,3200.00,3200.00,3200.00,3300.00,3200.00,...,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0
1931,DONG NAI TOURIST DEAD - DELIST.12/09/14,68842U(P),14000,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,...,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0
1932,GIALAI ELECTRICITY DEAD - DUPL.SEE 9053W6,95123U(P),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0
1933,HANOI SOUTHERN DEAD - DELIST.14/07/17,NHN(P),30000,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,...,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0

In [27]:
# Lọc các dòng có chứa từ "DEAD" trong cột 'Name'
dead_rows = sheet2[sheet2['Name'].str.contains('DEAD', na=False, case=False)]

# Hiển thị số dòng và các dòng bị lỗi
print(f"Số dòng chứa 'DEAD': {len(dead_rows)}")
display(dead_rows)

Số dòng chứa 'DEAD': 242

,Name,Code,2019-03-04 00:00:00,2019-03-05 00:00:00,2019-03-06 00:00:00,2019-03-07 00:00:00,2019-03-08 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,...,2025-02-19 00:00:00,2025-02-20 00:00:00,2025-02-21 00:00:00,2025-02-24 00:00:00,2025-02-25 00:00:00,2025-02-26 00:00:00,2025-02-27 00:00:00,2025-02-28 00:00:00,2025-03-03 00:00:00,2025-03-04 00:00:00
961,QUANG NAM MINERA DEAD - DELIST.04/03/25,MIC(P),9000,9000.0,9000.0,9000.0,9000.0,9000.0,9000.0,9000.0,...,24300.0,28100.0,32400.0,36500.0,41900.0,35400.0,40000.0,36000.0,31800.0,31800.0
1598,145 ONE MEB.LLC. DEAD - DELIST.04/04/22,TS5(P),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0
1599,28 HUNG PHU DEAD - DELIST.04/06/21,9237X7(P),7500,7500.0,7500.0,7500.0,7500.0,7500.0,7500.0,7500.0,...,7400.0,7400.0,7400.0,7400.0,7400.0,7400.0,7400.0,7400.0,7400.0,7400.0
1600,28 QUANG NGAI DEAD - DELIST.02/07/21,9448DL(P),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9500.0,9500.0,9500.0,9500.0,9500.0,9500.0,9500.0,9500.0,9500.0,9500.0
1601,319 STHN.INCON.JSC DEAD - DELIST.28/10/20,BM9(P),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10200.0,10200.0,10200.0,10200.0,10200.0,10200.0,10200.0,10200.0,10200.0,10200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,GIA DINH WATER SUPPLY DEAD - DELIST.07/12/18,69556R(P),16200,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,...,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0
1923,ORIENT SECURITIE DEAD - DELIST.10/04/19,69755L(P),3100,3100.0,3200.0,3200.0,3200.0,3200.0,3300.0,3200.0,...,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0
1931,DONG NAI TOURIST DEAD - DELIST.12/09/14,68842U(P),14000,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,...,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0
1932,GIALAI ELECTRICITY DEAD - DUPL.SEE 9053W6,95123U(P),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0
1933,HANOI SOUTHERN DEAD - DELIST.14/07/17,NHN(P),30000,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,...,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0

In [28]:
# Xóa phần từ "DEAD" trở đi trong cột 'Name'
sheet2['Name'] = sheet2['Name'].str.split('DEAD').str[0]
sheet2

<ipython-input-28-733c24ceea2e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sheet2['Name'] = sheet2['Name'].str.split('DEAD').str[0]

,Name,Code,2019-03-04 00:00:00,2019-03-05 00:00:00,2019-03-06 00:00:00,2019-03-07 00:00:00,2019-03-08 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,...,2025-02-19 00:00:00,2025-02-20 00:00:00,2025-02-21 00:00:00,2025-02-24 00:00:00,2025-02-25 00:00:00,2025-02-26 00:00:00,2025-02-27 00:00:00,2025-02-28 00:00:00,2025-03-03 00:00:00,2025-03-04 00:00:00
0,JST.CMLBK.FOR FRT. OF VIET NAM,VCB(P),41671.44,41804.14,41605.09,41870.50,41671.44,41538.73,42998.55,43263.96,...,91700.0,91700.0,93100.0,93500.0,92600.0,92300.0,94000.0,93300.0,93300.0,93000.0
1,VIX SECURITIES,VIX(P),1950.78,1950.78,2018.05,2062.90,2040.47,1973.20,1950.78,1973.20,...,11200.0,11250.0,11300.0,11500.0,11450.0,11450.0,11500.0,11450.0,11800.0,11500.0
2,120 MECHANICAL,CK8(P),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0
3,1369 CONSTRUCTION,C69(P),4449.84,4449.84,4368.93,4449.84,4368.93,4449.84,4530.74,4449.84,...,6500.0,6500.0,6600.0,6600.0,6400.0,6300.0,6500.0,6500.0,6500.0,6400.0
4,22 JOINT STOCK COMPANY,C22(P),31000,31000.00,31000.00,31000.00,31000.00,31000.00,31000.00,31000.00,...,20100.0,20100.0,20100.0,20100.0,20100.0,18900.0,19100.0,19300.0,19300.0,19300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,GIA DINH WATER SUPPLY,69556R(P),16200,16200.00,16200.00,16200.00,16200.00,16200.00,16200.00,16200.00,...,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0
1923,ORIENT SECURITIE,69755L(P),3100,3100.00,3200.00,3200.00,3200.00,3200.00,3300.00,3200.00,...,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0
1931,DONG NAI TOURIST,68842U(P),14000,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,...,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0
1932,GIALAI ELECTRICITY,95123U(P),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0
1933,HANOI SOUTHERN,NHN(P),30000,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,...,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0

In [29]:
# Lấy tên của hai cột cuối cùng
last_two_columns = sheet2.columns[-2:]  # Lấy tên 2 cột cuối
col1, col2 = last_two_columns[0], last_two_columns[1]

# Chuyển dữ liệu trong 2 cột cuối thành số thực
sheet2[col1] = pd.to_numeric(sheet2[col1], errors='coerce')
sheet2[col2] = pd.to_numeric(sheet2[col2], errors='coerce')

# Tính % thay đổi: (giá trị cột cuối - giá trị cột áp cuối) / giá trị cột áp cuối * 100
sheet2['% Change'] = ((sheet2[col2] - sheet2[col1]) / sheet2[col1]) * 100

# kiểm tra
sheet2[[col1, col2, '% Change']]

<ipython-input-29-fd4443004404>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sheet2[col1] = pd.to_numeric(sheet2[col1], errors='coerce')
<ipython-input-29-fd4443004404>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sheet2[col2] = pd.to_numeric(sheet2[col2], errors='coerce')
<ipython-input-29-fd4443004404>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sheet2['% Change'] = ((sheet2[col2] - sheet2[col1]) / sheet2[col1]) * 100

      2025-03-03 00:00:00  2025-03-04 00:00:00  % Change
0                 93300.0              93000.0 -0.321543
1                 11800.0              11500.0 -2.542373
2                  3600.0               3600.0  0.000000
3                  6500.0               6400.0 -1.538462
4                 19300.0              19300.0  0.000000
...                   ...                  ...       ...
1919              16200.0              16200.0  0.000000
1923               4600.0               4600.0  0.000000
1931              14000.0              14000.0  0.000000
1932              27700.0              27700.0  0.000000
1933              30000.0              30000.0  0.000000

[1917 rows x 3 columns]

In [30]:
sheet2['Code'] = sheet2['Code'].str.replace(r'\(P\)', '', regex=True)
sheet2

<ipython-input-30-4125aa25c6be>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sheet2['Code'] = sheet2['Code'].str.replace(r'\(P\)', '', regex=True)

,Name,Code,2019-03-04 00:00:00,2019-03-05 00:00:00,2019-03-06 00:00:00,2019-03-07 00:00:00,2019-03-08 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,...,2025-02-20 00:00:00,2025-02-21 00:00:00,2025-02-24 00:00:00,2025-02-25 00:00:00,2025-02-26 00:00:00,2025-02-27 00:00:00,2025-02-28 00:00:00,2025-03-03 00:00:00,2025-03-04 00:00:00,% Change
0,JST.CMLBK.FOR FRT. OF VIET NAM,VCB,41671.44,41804.14,41605.09,41870.50,41671.44,41538.73,42998.55,43263.96,...,91700.0,93100.0,93500.0,92600.0,92300.0,94000.0,93300.0,93300.0,93000.0,-0.321543
1,VIX SECURITIES,VIX,1950.78,1950.78,2018.05,2062.90,2040.47,1973.20,1950.78,1973.20,...,11250.0,11300.0,11500.0,11450.0,11450.0,11500.0,11450.0,11800.0,11500.0,-2.542373
2,120 MECHANICAL,CK8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,0.000000
3,1369 CONSTRUCTION,C69,4449.84,4449.84,4368.93,4449.84,4368.93,4449.84,4530.74,4449.84,...,6500.0,6600.0,6600.0,6400.0,6300.0,6500.0,6500.0,6500.0,6400.0,-1.538462
4,22 JOINT STOCK COMPANY,C22,31000,31000.00,31000.00,31000.00,31000.00,31000.00,31000.00,31000.00,...,20100.0,20100.0,20100.0,20100.0,18900.0,19100.0,19300.0,19300.0,19300.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,GIA DINH WATER SUPPLY,69556R,16200,16200.00,16200.00,16200.00,16200.00,16200.00,16200.00,16200.00,...,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,0.000000
1923,ORIENT SECURITIE,69755L,3100,3100.00,3200.00,3200.00,3200.00,3200.00,3300.00,3200.00,...,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,0.000000
1931,DONG NAI TOURIST,68842U,14000,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,...,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,0.000000
1932,GIALAI ELECTRICITY,95123U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,0.000000
1933,HANOI SOUTHERN,NHN,30000,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,...,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,0.000000

In [31]:
# Danh sách cột cần lấy từ sheet1 qua sheet2
columns_to_merge =  ['Name', 'RIC', 'Start Date', 'Exchange', 'Sector', 'Activity']
sheet2 = pd.merge(sheet2, sheet1[columns_to_merge], on='Name', how='left', suffixes=('_sheet2', '_sheet1'))

sheet2

,Name,Code,2019-03-04 00:00:00,2019-03-05 00:00:00,2019-03-06 00:00:00,2019-03-07 00:00:00,2019-03-08 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,...,2025-02-27 00:00:00,2025-02-28 00:00:00,2025-03-03 00:00:00,2025-03-04 00:00:00,% Change,RIC,Start Date,Exchange,Sector,Activity
0,JST.CMLBK.FOR FRT. OF VIET NAM,VCB,41671.44,41804.14,41605.09,41870.50,41671.44,41538.73,42998.55,43263.96,...,94000.0,93300.0,93300.0,93000.0,-0.321543,VCB.HM,2009-06-30,Ho Chi Minh,Banks,Active
1,VIX SECURITIES,VIX,1950.78,1950.78,2018.05,2062.90,2040.47,1973.20,1950.78,1973.20,...,11500.0,11450.0,11800.0,11500.0,-2.542373,VIX.HM,2009-12-29,Ho Chi Minh,-,Active
2,120 MECHANICAL,CK8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3600.0,3600.0,3600.0,3600.0,0.000000,CK8.HNO,2023-04-07,Hanoi OTC,Unclassified,Active
3,1369 CONSTRUCTION,C69,4449.84,4449.84,4368.93,4449.84,4368.93,4449.84,4530.74,4449.84,...,6500.0,6500.0,6500.0,6400.0,-1.538462,C69.HN,2017-04-21,Hanoi,Construction and Materials,Active
4,22 JOINT STOCK COMPANY,C22,31000,31000.00,31000.00,31000.00,31000.00,31000.00,31000.00,31000.00,...,19100.0,19300.0,19300.0,19300.0,0.000000,C22.HNO,2018-05-24,Hanoi OTC,Food Producers,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,GIA DINH WATER SUPPLY,69556R,16200,16200.00,16200.00,16200.00,16200.00,16200.00,16200.00,16200.00,...,16200.0,16200.0,16200.0,16200.0,0.000000,NaN,NaT,NaN,NaN,NaN
1937,ORIENT SECURITIE,69755L,3100,3100.00,3200.00,3200.00,3200.00,3200.00,3300.00,3200.00,...,4600.0,4600.0,4600.0,4600.0,0.000000,NaN,NaT,NaN,NaN,NaN
1938,DONG NAI TOURIST,68842U,14000,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,14000.00,...,14000.0,14000.0,14000.0,14000.0,0.000000,NaN,NaT,NaN,NaN,NaN
1939,GIALAI ELECTRICITY,95123U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27700.0,27700.0,27700.0,27700.0,0.000000,NaN,NaT,NaN,NaN,NaN
1940,HANOI SOUTHERN,NHN,30000,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,...,30000.0,30000.0,30000.0,30000.0,0.000000,NaN,NaT,NaN,NaN,NaN

In [32]:
# Lấy danh sách cột hiện tại
cols = sheet2.columns.tolist()

# Xác định các cột cần sắp xếp lại
columns_to_move = ['RIC', 'Start Date', 'Exchange', 'Sector', 'Activity']

# Đảm bảo các cột cần di chuyển có trong DataFrame (tránh lỗi nếu thiếu cột nào)
columns_to_move = [col for col in columns_to_move if col in cols]

# Loại bỏ các cột này khỏi danh sách ban đầu để tránh trùng lặp
remaining_cols = [col for col in cols if col not in ['Name', 'Code'] + columns_to_move]

# Xác định thứ tự cột mới
new_order = ['Name', 'Code'] + columns_to_move + remaining_cols

# Sắp xếp lại DataFrame theo thứ tự mới
sheet2 = sheet2[new_order]

# Hiển thị DataFrame sau khi sắp xếp
display(sheet2)

,Name,Code,RIC,Start Date,Exchange,Sector,Activity,2019-03-04 00:00:00,2019-03-05 00:00:00,2019-03-06 00:00:00,...,2025-02-20 00:00:00,2025-02-21 00:00:00,2025-02-24 00:00:00,2025-02-25 00:00:00,2025-02-26 00:00:00,2025-02-27 00:00:00,2025-02-28 00:00:00,2025-03-03 00:00:00,2025-03-04 00:00:00,% Change
0,JST.CMLBK.FOR FRT. OF VIET NAM,VCB,VCB.HM,2009-06-30,Ho Chi Minh,Banks,Active,41671.44,41804.14,41605.09,...,91700.0,93100.0,93500.0,92600.0,92300.0,94000.0,93300.0,93300.0,93000.0,-0.321543
1,VIX SECURITIES,VIX,VIX.HM,2009-12-29,Ho Chi Minh,-,Active,1950.78,1950.78,2018.05,...,11250.0,11300.0,11500.0,11450.0,11450.0,11500.0,11450.0,11800.0,11500.0,-2.542373
2,120 MECHANICAL,CK8,CK8.HNO,2023-04-07,Hanoi OTC,Unclassified,Active,NaN,NaN,NaN,...,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,3600.0,0.000000
3,1369 CONSTRUCTION,C69,C69.HN,2017-04-21,Hanoi,Construction and Materials,Active,4449.84,4449.84,4368.93,...,6500.0,6600.0,6600.0,6400.0,6300.0,6500.0,6500.0,6500.0,6400.0,-1.538462
4,22 JOINT STOCK COMPANY,C22,C22.HNO,2018-05-24,Hanoi OTC,Food Producers,Active,31000,31000.00,31000.00,...,20100.0,20100.0,20100.0,20100.0,18900.0,19100.0,19300.0,19300.0,19300.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,GIA DINH WATER SUPPLY,69556R,NaN,NaT,NaN,NaN,NaN,16200,16200.00,16200.00,...,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,16200.0,0.000000
1937,ORIENT SECURITIE,69755L,NaN,NaT,NaN,NaN,NaN,3100,3100.00,3200.00,...,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,4600.0,0.000000
1938,DONG NAI TOURIST,68842U,NaN,NaT,NaN,NaN,NaN,14000,14000.00,14000.00,...,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,14000.0,0.000000
1939,GIALAI ELECTRICITY,95123U,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,27700.0,0.000000
1940,HANOI SOUTHERN,NHN,NaN,NaT,NaN,NaN,NaN,30000,30000.00,30000.00,...,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,0.000000

In [33]:
import pandas as pd

# Đường dẫn để lưu file
output_file_path = "/content/drive/MyDrive/Cleaned data/Processed_Vietnam_Price.xlsx"

# Xuất sheet2 ra file Excel
sheet2.to_excel(output_file_path, sheet_name="Processed_Sheet2", index=False)

print(f"Dữ liệu đã được lưu vào: {output_file_path}")

Dữ liệu đã được lưu vào: /content/drive/MyDrive/Cleaned data/Processed_Vietnam_Price.xlsx